html,
body,
.gallery-container,
.gallery-wrapper {
    height: 100%;
}

.gallery-container {
    overflow: hidden;
    background: #000;
}

.gallery-wrapper {
    display: flex;
    align-items: center;
}

.gallery-wrapper .gallery-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gallery-wrapper img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.gallery-container .gallery-pagination {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.gallery-container .gallery-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .7);
}

.gallery-container .gallery-pagination-clickable {
    background-color: rgb(6, 192, 248);
}